/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Base
	- Typography
	- Elements
	- Links
--------------------------------------------------------------*/

/* Color Pallete
    -#0035A9 blue
    -#FDD512 yellow
*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

html,
body {
    height: 100%;
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

body {
    font-family: "Nunito", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    height: 100vh;
    margin: 0 auto;
    color: #0035A9;
    font-weight: 400;
    line-height: 1.5;
}

/* Elements */
ul, 
li, 
a {
    padding: 0;
    text-decoration: none;
    list-style: none;
}

h1,
h2,
h3,
p {
    padding: 0;
    margin: 0;
}

/* Links */
a,
a:visited {
    color: #0035A9;
}

a:hover,
a:focus {
    width: 100%;
    color: #0035A9;
    border-bottom: 0.2rem solid #0035A9;
    top: -3px;
}   

a:focus,
a:active {
    outline: 0.1rem solid #0035A9;
}

/*--------------------------    ------------------------------------
# Reusable Classes
--------------------------------------------------------------*/

.icons {
    width: 1.5rem;
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header */

.logo {
    height: 30%;
    width: 100%;
}

.logo img {
    width: 3rem;
}

.site-heading {
    display: flex;
    justify-content: center;
    padding: 1rem;
    box-shadow: 0 0.1rem 0.5rem #0035A9;
}

.nav-bar {
    position: fixed;
    bottom: 1rem;
    z-index: 2;
    background-color: #FFFFFF;
    border: 0.1rem solid #0035A9;
    border-radius: 1rem;
}

.nav-bar ul {
    display: flex;
    justify-content: center;
    width: 18rem;
    gap: 1rem;
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    gap: 0.5rem;     
}

/* Footer */

.site-footer {
    margin-bottom: 7rem;
    padding: 1rem;
    text-align: center;
}

@media (min-width: 50em) {

    .body-wrapper {
        display: grid;
        grid-template-columns: 32% 68%;
        grid-template-rows: 90vh 10vh;
    }

    .right {
        grid-column: 2 /-1;
    }

    .icons {
        width: 2.5rem;
    }
        
    .site-heading {
        flex-direction: column;
    }

    .left {
        position: fixed;
        width: 32%;
        background-color: #FFFFFF;
        z-index: 2;
    }

    .site-heading {
        height: 100vh;
    }

    .nav-bar {
        position: static;
        border: none;
    }

    .nav-bar ul {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .nav-links a {
        flex-direction: row;
        padding: 1rem 0;
        gap: 1rem;  
    }

    .site-footer {
        margin: 0;
        bottom: 0;
    }
}

@media (min-width: 70em) {
    
    .body-wrapper {
        grid-template-columns: 27% 73%;
    }

    .left {
        width: 27%;
    }

    h1 {
        font-size: 2.5rem;
    }
}