/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Base
	- Typography
	- Elements
	- Links
# Components
    - Header
    - Main
    - Footer
--------------------------------------------------------------*/

/* Color Pallete
    -#0035A9 blue
    -#FDD512 yellow
*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography */
body {
    font-family: "Nunito", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    height: 100vh;
    margin: 0 auto;
    color: #0035A9;
    font-weight: 400;
    line-height: 1.5;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

/* Elements */
html,
body {
    height: 100%;
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

video {
    width: 100%;
    height: 91vh;
    object-fit: cover;
}

h1,
h2,
h3,
p {
    padding: 0;
    margin: 0;
}

ul, 
li, 
a {
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* Links */
a,
a:visited {
    color: #0035A9;
    border-bottom: 0.2rem solid transparent;
}

a:hover,
a:focus {
    width: 100%;
    color: #0035A9;
    border-bottom: 0.2rem solid #0035A9;
}   

a:focus,
a:active {
    outline: 0.1rem solid    #0035A9;
    outline-offset: 0.1rem;
    border-radius: 0.1rem;
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header */
.site-heading {
    display: grid;
    padding: 1rem;
    box-shadow: 0 0.1rem 0.5rem #0035A9;
}


.icons {
    width: 1.5rem;
}

.site-heading {
    display: grid;
    padding: 1rem;
    box-shadow: 0 0.1rem 0.5rem #0035A9;
}

.logo {
    width: 3rem;
}

.nav-bar {
    justify-self: center;
    position: fixed;
    bottom: 1rem;
    z-index: 3;
    background-color: #FFFFFF;
    border: 0.1rem solid #0035A9;
    border-radius: 1rem;
}

.nav-bar ul {
    width: 19rem;
    display: flex;
    justify-content: center;
    gap: 0.8rem;
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 3rem;
    gap: 0.5rem;
    font-size: 1rem;     
} 

@media (min-width: 50em) {
    .icons {
        width: 2.5rem;
    }
        
    .site-heading {
        align-items: center;
    }

    .site-heading {
        height: 100vh;
    }

    .nav-bar {
        position: static;
        border: none;
        width: 100%;
    }

    .nav-bar ul {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}

/* Main */
.banner-video-cover {
    position: absolute;
    margin-left: 100px;
    height: calc(100vh - 4.9rem);
    width: 100%;
    background-color: #000000;
    z-index: 2;
    right: 0;
    opacity: 35%;
}

.banner {
    position: relative;
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.banner h1 {
    margin: 0 auto;
    width: fit-content;
    position: absolute;
    top: 12rem;
    left: 0;
    right: 0;
    filter: drop-shadow( 1rem 1rem 1rem #000000);
    color: #FDD512;
    padding: 1rem;
    z-index: 2;
}

.banner-btn {
    margin: 0 auto;
    width: fit-content;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 10rem;
    z-index: 2;
}

/* Footer */
.site-footer {
    margin-bottom: 7rem;
    padding: 1rem;
    text-align: center;
}

/* Media Query */

/* Tablet */
@media (min-width: 50em) {

    .logo {
        justify-self: center;
    }

    h1 {
        font-size: 5rem;
    }

    video {
        height: 100vh;
    }

    .body-wrapper {
        display: grid;
        grid-template-columns: 13% 87%;
    }

    .left {
        position: fixed;
        width: 13%;
        z-index: 2;
    }

    .right {
        grid-column: 2 /-1;
    }



    .nav-links a {
        flex-direction: row;
        padding: 1rem 0;
        gap: 1rem;  
    }

    .banner-video-cover {
        height: 100vh;
    }

    .banner {
        margin: 0 auto 0 1.5px;
    }

    .site-footer {
        margin: 0;
        bottom: 0;
    }
}

/* Desktop */
@media (min-width: 70em) {
    
    .body-wrapper {
        grid-template-columns: 10% 90%;
    }

    .left {
        width: 10%;
    }

    h1 {
        font-size: 7rem;
    }
}