/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN NORMALIZE.CSS)
# Base (CALLED IN BASE.CSS)
# Components
    - Header (CALLED IN BASE.CSS)
    - Main
    - Footer (CALLED IN BASE.CSS)
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

.culture-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.article-banner {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: start;
}

.article-banner h2 {
    position: absolute;
    width: fit-content;
    background-color: #ffffff;
    padding: 1rem;
}

.article-banner img {
    filter: blur(0.2rem);
}