/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN NORMALIZE.CSS)
# Base (CALLED IN BASE.CSS)
# Components
    - Reusables Classes (CALLED IN BASE.CSS)
    - Header (CALLED IN BASE.CSS)
    - Main
    - Footer (CALLED IN BASE.CSS)
# Media Query
    - Tablet View
    - Desktop View
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Main */

.food-banner {
    width: 100%;
    height: 10rem;
    
}

.food-banner img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

.food-display {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    justify-content: center;
    gap: 1rem;
    color: #0035A9;
    padding: 1rem;
}

.food-image {
    position: relative;
}

.food-image img {
    object-fit: cover;
    height: 20rem;
}

.food-image h2 {
    position: absolute;
    bottom: 1rem;
    backdrop-filter: blur(10rem);
    padding: 0.5rem;
}

.display-item {
    background-color: #0035A9;
}

.display-description {
    padding: 1rem;
    color: #FDD512;
}

@media (min-width: 50em) {
    
    .food-display {
        grid-template-columns: 1fr;
        padding: 5rem;
    }

    .display-item {
        display: grid;
        grid-template-columns: 100%;
    }

    .food-image img {
        height: 100%;
    }

    .display-description {
        font-size: 1.2rem;
    }
}

@media (min-width: 70em) {
    .display-item {
        display: grid;
        grid-template-columns: 30% 60%;
    }

    .display-description {
        font-size: 1.5rem;
    }
}