/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN NORMALIZE.CSS)
# Base (CALLED IN BASE.CSS)
# Components
    - Reusables Classes (CALLED IN BASE.CSS)
    - Header (CALLED IN BASE.CSS)
    - Main
    - Footer (CALLED IN BASE.CSS)
    - Media Query
# Body Layout Media Query
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Main */

video {
    filter: none;
}

.banner {
    position: relative;
}

.main-quote {
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    position: absolute;
    bottom: 6rem;
    right: 0;
    font-size: 1.2rem;
    color: #FDD512;
    padding: 1rem;
    width: 20rem;
    border-radius: 1rem;
    text-align: right;
}

@media (min-width: 28em) {

    .main-quote {
        font-size: 1.3rem;
        width: 25rem;
    }

    .site-footer {
        margin-bottom: 7rem;
    }
}

@media (min-width: 50em) {

    .main-quote {
        font-size: 1.2rem;
        width: 40rem;
        right: 1rem;
        bottom: 2rem;
    }

    .site-footer {
        margin: 0;
    }
}

@media (min-width: 70em) {

    .main-quote {
        font-size: 1.5rem;
        width: 45rem;
    }
}

/*--------------------------------------------------------------
# Body Layout Media Query
--------------------------------------------------------------*/

@media (min-width: 50em) {

    .right {
        position: fixed;
        width: 87%;
        right: 0;
    }
        
    .body-wrapper {
        height: 100vh;
    }

    video {
        height: 100%;
        object-fit: cover;
    }

    .banner {
        height: 100vh;
    }

    .right {
        height: 100vh;
    }
}

@media (min-width: 70em) {

    .right {
        width: 90%;
    }
}
