/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN NORMALIZE.CSS)
# Base (CALLED IN BASE.CSS)
# Components
    - Reusables Classes (CALLED IN BASE.CSS)
    - Header (CALLED IN BASE.CSS)
    - Main
    - Footer (CALLED IN BASE.CSS)
# Media Query
    - Tablet View
    - Desktop View
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Main */

.banner {
    position: relative;
}

.banner h1 {
    width: fit-content;
    position: absolute;
    top: 10rem;
    right: 0;
    backdrop-filter: blur(1rem);
}

video {
    width: 100%;
    height: 42.5rem;
    object-fit: cover;
}

.main-quote {
    margin: 0;
    position: absolute;
    bottom: 2rem;
    right: 0;
    backdrop-filter: blur(1rem);
    font-size: 1.2rem;
    color: #FDD512;
    padding: 1rem;
    width: 20rem;
    border-radius: 1rem;
    text-align: right;
}

/*--------------------------------------------------------------
# Media Query
--------------------------------------------------------------*/

@media (min-width: 50em) {

    .right {
        position: fixed;
        width: 100%;
    }
        
    .body-wrapper {
        height: 100vh;
    }

    video {
        height: 100%;
        object-fit: cover;
    }

    .banner {
        height: 100vh;
    }

    .right {
        height: 100vh;
    }

    .main-quote {
        font-size: 1.2rem;
        width: 30rem;
    }
}

@media (min-width: 70em) {
        
    .main-quote {
        font-size: 1.2rem;
        width: 45rem;
    }
}
